.repoContainer{
    text-align: center;
    padding: 0 10px;
}
.repoDetail{
    border: solid 2px lightgrey;
    margin: 10px 10px;
    width:380px;
    height: 149px;
    float:left;
    border-radius:10px;
    overflow: hidden;
}